body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-transform-none {
  text-transform: none !important;
}

.dropdown-nav-toggler a::after {
  display: none !important;
}

.keyIcon-rotatedFlipped {
  transform: rotateZ(90deg);
}

.body-container {
  min-height: 100vh !important;
}
